extends base.pug

block content
  section.selectmenu
    article.personal-inf
      p PERSONAL INFORMATION
    article.account-inf.active
      p ACCOUNT INFORMATION
  section.account-info2
    - const user = {"username": "sarahbarnes", "email": "sarahbbb@gmail.com"}
    article.infov3
      .part
        p.title username
        form(action="")
          input(type="text" placeholder=user.username class="firstLast")
    article.infov4
      .part
        p.title email
        form(action="")
          input(type="text" placeholder=user.email class="firstLast")
      .change-password
        .passwd-wrap
          p change password
          img(src="./images/Chevron-right.svg", alt="")
